.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form{
        width: 40%;
    }

    .btn{
        margin: 0px;
    }

    .grid{
        width: 50%;

        table{
            width: 100%;

            td:last-child {
                width: 10%;
            }
        }
    }
}